<div class="container mt-3">
  <h2>Inscription</h2>
  <form [formGroup]="inscriptionForm" (ngSubmit)="saveInscription()">
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionNom" class="form-label">Nom (Nom complet)<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="inputDlgInscriptionNom" placeholder="Nom + Prénom" formControlName="nom" [ngClass]="{'is-invalid': inscriptionForm.get('nom')?.invalid && (inscriptionForm.get('nom')?.touched || inscriptionForm.get('nom')?.dirty)}">
      </div>
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionPseudo" class="form-label">Pseudo<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="inputDlgInscriptionPseudo" placeholder="Pseudo" formControlName="pseudo" [ngClass]="{'is-invalid': inscriptionForm.get('pseudo')?.invalid && (inscriptionForm.get('pseudo')?.touched || inscriptionForm.get('pseudo')?.dirty)}">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionEmail" class="form-label">Email<span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="inputDlgInscriptionEmail" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': inscriptionForm.get('email')?.invalid && (inscriptionForm.get('email')?.touched || inscriptionForm.get('email')?.dirty) || emailInUse}">
        <div *ngIf="inscriptionForm.get('email')?.errors?.['pattern'] && (inscriptionForm.get('email')?.touched || inscriptionForm.get('email')?.dirty)" class="invalid-feedback d-block">
          Format de l'email invalide.
        </div>
        <div *ngIf="emailInUse" class="invalid-feedback d-block">
          Cet email est déjà utilisé.
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionTel" class="form-label">Téléphone</label>
        <input type="tel" class="form-control" id="inputDlgInscriptionTel" placeholder="0612345678" formControlName="tel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionAdresse" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="inputDlgInscriptionAdresse" placeholder="Adresse" formControlName="adresse">
      </div>
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionCommune" class="form-label">Commune</label>
        <input type="text" class="form-control" id="inputDlgInscriptionCommune" placeholder="Commune" formControlName="commune">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionCp" class="form-label">Code postal</label>
        <input type="text" class="form-control" id="inputDlgInscriptionCp" placeholder="Code postal" formControlName="cp">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionStatut" class="form-label">Statut<span class="text-danger">*</span></label>
        <select class="form-select" id="inputDlgInscriptionStatut" formControlName="statut" [ngClass]="{'is-invalid': inscriptionForm.get('statut')?.invalid && (inscriptionForm.get('statut')?.touched || inscriptionForm.get('statut')?.dirty)}">
          <option *ngFor="let statut of statuts" [value]="statut">{{ statut }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionOrganisation" class="form-label">Organisation (facultatif)</label>
        <input type="text" class="form-control" id="inputDlgInscriptionOrganisation" placeholder="Organisation" formControlName="organisation_nom">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="inputDlgInscriptionPWD2" class="form-label">Mot de passe<span class="text-danger">*</span></label>
        <div class="input-group">
          <input [type]="newPasswordFieldType" class="form-control" id="inputDlgInscriptionPWD2" placeholder="*****" autocomplete="off" formControlName="pwd" [ngClass]="{'is-invalid': inscriptionForm.get('pwd')?.invalid && (inscriptionForm.get('pwd')?.touched || inscriptionForm.get('pwd')?.dirty)}">
          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('new')">
            <i class="fa" [ngClass]="newPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <label for="inputDlgInscriptionPWD3" class="form-label">Confirmation mot de passe<span class="text-danger">*</span></label>
        <div class="input-group">
          <input [type]="confirmPasswordFieldType" class="form-control" id="inputDlgInscriptionPWD3" placeholder="*****" autocomplete="off" formControlName="confirmPwd" [ngClass]="{'is-invalid': inscriptionForm.get('confirmPwd')?.invalid && (inscriptionForm.get('confirmPwd')?.touched || inscriptionForm.get('confirmPwd')?.dirty)}">
          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('confirm')">
            <i class="fa" [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
          </button>
          <div *ngIf="inscriptionForm.get('confirmPwd')?.errors?.['mismatch'] && (inscriptionForm.get('confirmPwd')?.touched || inscriptionForm.get('confirmPwd')?.dirty)" class="invalid-feedback d-block">
            Les mots de passe ne correspondent pas.
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 mb-2">      
      <button type="submit" class="btn btn-primary btn-large-text">S'inscrire</button>
    </div>          
  </form>
</div>

<!-- Toast de confirmation -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
    <div class="toast-header">
      <strong class="me-auto">Succès</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Inscription réussie !
    </div>
  </div>
</div>