<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <div class="d-flex align-items-center mt-4">
              <img class="img-thumbnail me-3" [src]="logoUrl" alt="logo" style="width: 150px; height: auto;">
              <div>
                  <h2 class="mlh_verdanamb-0">{{ service?.nom }}</h2>
                  <p class="mt-2">{{ service?.description }}</p>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-12 mlh_block_data border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item" role="presentation">
                          <a class="nav-link active" data-bs-toggle="tab" href="#Generalite" aria-selected="true" role="tab">Généralités</a>
                      </li>
                      <li class="nav-item" role="presentation">
                          <a class="nav-link" data-bs-toggle="tab" href="#Medias" aria-selected="false" role="tab">Médias</a>
                      </li>
                      <li class="nav-item" role="presentation">
                          <a class="nav-link" data-bs-toggle="tab" href="#Tags" aria-selected="false" role="tab">Tags</a>
                      </li>
                  </ul>
                  <div class="tab-content p-3 border border-top-0">
                      <div class="tab-pane fade show active mb-3" id="Generalite" role="tabpanel">
                          <label class="col-form-label">Type : </label>
                          <strong> {{ service?.type }}</strong> <br>
                          <label class="col-form-label">Référence : </label>
                          <strong> {{ service?.reference }}</strong> <br>
                      </div>
                      <div class="tab-pane fade mt-3" id="Medias" role="tabpanel">
                          <label class="col-form-label">Medias : </label>
                          <div>
                              <span *ngFor="let media of service?.medias">{{ media }}</span>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="Tags" role="tabpanel">
                          <label class="col-form-label">Tags : </label>
                          <div>
                              <span *ngFor="let tag of service?.tags" class="badge bg-info me-1">{{ tag }}</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row border-bottom mlh_block_data">
              <div class="d-flex mb-1 mt-1 justify-content-end">
                  <button type="button" class="btn btn-primary" (click)="back()">Retour</button>
              </div>
          </div>
      </div>
  </div>
</div>
