<div class="container mlh_top_container mt-1">
    <header class="text-center">
      <h2 class="text-primary">
        Le "Jumeau Numérique" dédié aux citoyens et citoyennes de la Ville de Mulhouse
      </h2>
      <p>
        La ville de Mulhouse ouvre son jumeau numérique afin de favoriser les interactions entre ses citoyennes et citoyens, de leurs permettre d'avoir une visibilité sur la vie de la citée, de ce qu'elle leur propose. <br>
        L'ambition de cette plateforme est de fédérer toutes les énergies pour que chacun soit acteur de la vie de la citée.
      </p>
    </header>
  
    <div id="AccueilFiltre" class="m-5 d-flex justify-content-between">
      <input type="text" class="form-control mlh_accueil_filtre" id="inputFiltre" placeholder="Rechercher une activité ...">
      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
    </div>
  
    <div class="row">
      <div class="col-lg-6">
        <h3 class="text-center">Les activités les plus plébiscitées</h3>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="bottom" title="La Petite Manchester propose la location pour un usage sur place de machines à coudre professionnelles">
            <div class="d-flex flex-row align-items-center">
              <img class="mlh_accueil_logo m-1" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" />
              Location de machines à coudre : Box Briand
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="bottom" title="Créer des passerelles entre le monde de l’Industrie et celui de l’Education par le biais du textile, telle est la raison d’être de La Petite Manchester. Un projet mis sur les rails en 2015 et porté depuis par Nathalie Methia. Un projet engagé et humain qui attaque l’ultime étape de son développement.">
            <div class="d-flex flex-row align-items-center">
              <img class="mlh_accueil_logo m-1" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" />
              Formation de machines à coudre
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="bottom" title="Créer des passerelles entre le monde de l’Industrie et celui de l’Education par le biais du textile, telle est la raison d’être de La Petite Manchester. Un projet mis sur les rails en 2015 et porté depuis par Nathalie Methia. Un projet engagé et humain qui attaque l’ultime étape de son développement.">
            <div class="d-flex flex-row align-items-center">
              <img class="mlh_accueil_logo m-1" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" />
              Formation de machines à coudre
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Mettre dans la liste les dix premières
          </a>
        </div>
      </div>
  
      <div class="col-lg-6 mt-5 mt-lg-0">
        <h3 class="text-center">Les activités les plus récentes</h3>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="bottom" title="La Petite Manchester propose la location pour un usage sur place de machines à coudre professionnelles">
            <div class="d-flex flex-row align-items-center">
              <img class="mlh_accueil_logo m-1" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" />
              Location de machines à coudre : Box Briand
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="bottom" title="Créer des passerelles entre le monde de l’Industrie et celui de l’Education par le biais du textile, telle est la raison d’être de La Petite Manchester. Un projet mis sur les rails en 2015 et porté depuis par Nathalie Methia. Un projet engagé et humain qui attaque l’ultime étape de son développement.">
            <div class="d-flex flex-row align-items-center">
              <img class="mlh_accueil_logo m-1" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" />
              Formation de machines à coudre
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action" data-toggle="tooltip" data-placement="bottom" title="Créer des passerelles entre le monde de l’Industrie et celui de l’Education par le biais du textile, telle est la raison d’être de La Petite Manchester. Un projet mis sur les rails en 2015 et porté depuis par Nathalie Methia. Un projet engagé et humain qui attaque l’ultime étape de son développement.">
            <div class="d-flex flex-row align-items-center">
              <img class="mlh_accueil_logo m-1" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" />
              Formation de machines à coudre
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Mettre dans la liste les dix premières
          </a>
        </div>
      </div>
    </div>
  </div> 