<div class="container mt-4">
	<div class="d-flex justify-content-center">
	  <h1 class="mlh_verdana">Tableau de bord</h1>
	</div>
	<div class="row mt-4 d-flex justify-content-center">
	  <div id="card_abonnement" class="card border-info mb-3 mlh_card" style="max-width: 20rem;">
		<div class="card-header"><strong>Mes Abonnements</strong></div>
		<div class="card-body">
		  <div class="d-flex justify-content-center">
			<h3 class="card-title">15</h3>
		  </div>
		  <p class="card-text"><small><em>Nombre d'abonements souscrits.</em></small></p>
		</div>
	  </div>
  
	  <div id="card_rdv" class="card border-info mb-3 mlh_card" style="max-width: 20rem;">
		<div class="card-header"><strong>Mes Rendez-vous</strong></div>
		<div class="card-body">
		  <div class="d-flex justify-content-center">
			<h3 class="card-title">3</h3>
		  </div>
		  <p class="card-text"><small><em>Nombre de rendez-vous à venir.</em></small></p>
		</div>
	  </div>
  
	  <div id="card_resa" class="card border-info mb-3 mlh_card" style="max-width: 20rem;">
		<div class="card-header"><strong>Mes Réservations</strong></div>
		<div class="card-body">
		  <div class="d-flex justify-content-center">
			<h3 class="card-title">25</h3>
		  </div>
		  <p class="card-text"><small><em>Nombre de réservations.</em></small></p>
		</div>
	  </div>
	</div>
	<div class="row mt-4 d-flex justify-content-center">
	  <div id="card_activite" class="card border-info mb-3 mlh_card" style="max-width: 20rem;">
		<div class="card-header"><strong>Mes Activités</strong></div>
		<div class="card-body">
		  <div class="d-flex justify-content-center">
			<h3 class="card-title">1</h3>
		  </div>
		  <p class="card-text"><small><em>Nombre d'abonements souscrits.</em></small></p>
		</div>
	  </div>
  
	  <div id="card_rdv_activite" class="card border-info mb-3 mlh_card" style="max-width: 20rem;">
		<div class="card-header"><strong>RDV Activités</strong></div>
		<div class="card-body">
		  <div class="d-flex justify-content-center">
			<h3 class="card-title">25</h3>
		  </div>
		  <p class="card-text"><small><em>Demande de rendez-vous sur mes activités.</em></small></p>
		</div>
	  </div>
  
	  <div id="card_resa_activite" class="card border-info mb-3 mlh_card" style="max-width: 20rem;">
		<div class="card-header"><strong>Réservations Activités</strong></div>
		<div class="card-body">
		  <div class="d-flex justify-content-center">
			<h3 class="card-title">1268</h3>
		  </div>
		  <p class="card-text"><small><em>Réservations sur mes activités.</em></small></p>
		</div>
	  </div>
	</div>
  </div>
  