<div class="row">
    <div class="col-md-2 d-flex align-items-center">
      <div id="external-events" class="bg-light p-2">
        <h4>Draggable Events</h4>
        <div id="external-events-list">
          <div class="fc-event" title="My Event 1">Ponctuelle</div>
          <div class="fc-event" title="My Event 2">Récurrente</div>
          <div class="fc-event" title="My Event 3">Impossibilité</div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h3 class="mlh_verdana text-center mb-2"><u>Rendez-Vous</u></h3>
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
  