<div class="container mlh_top_container">
    <div class="container">
        <header class="mt-4">
            <h2 class="text-primary">
                Contacts
            </h2>
            <p>
                Pour toutes questions, remarques, demandes d'informations, veuillez utiliser le formulaire ci dessous. Merci.
            </p>
        </header>
        <form class="bg-light p-3">
            <p>
                <i> Tous les informations demandées sont obligatoires ! </i>
            </p>
            
            <label class="col-form-label" for="inputEmailNom"> Nom<span class="text-danger">*</span> : </label>
            <input type="text" class="form-control" id="inputEmailNom">

            <label class="col-form-label" for="inputEmailAdresse"> Email<span class="text-danger">*</span> : </label>
            <input type="text" class="form-control" id="inputEmailAdresse">

            <label class="col-form-label " for="inputEmailMsg"> Message<span class="text-danger">*</span> : </label>
            <textarea class="form-control form-control-sm" id="inputEmailMsg" rows="5"></textarea>
            
            <button type="button" class="btn btn-primary p-2 mt-4" (click)="sendMessage()">Envoyer le message</button>
        </form>
        

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="updateToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Demande de contact envoyée.
      </div>
    </div>
</div>
