.img-thumbnail {
    max-width: 80px;
    height: auto;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .badge {
    margin-right: 5px;
  }
  
  .mlh_verdana {
    font-family: Verdana, sans-serif;
  }