.img-thumbnail {
    max-width: 80px;
    height: auto;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .badge {
    margin-right: 5px;
  }
  
  .btn-secondary {
    margin-top: 20px;
  }
  
  .mlh_verdana {
    font-family: Verdana, sans-serif;
    font-size: 16px;
  }
  
  .activity-column {
    padding-left: 15px;
    padding-right: 15px;
  }