<div *ngIf="hasPermission" class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mlh_verdana">Filtre</h3>
      <input type="text" class="form-control form-control-sm mb-3" id="inputFiltreNom" placeholder="Rechercher une activité">
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center mb-3">
      <h2 class="mlh_verdana">Mes Activités</h2>
      <button type="button" class="btn btn-primary" (click)="openCreateActivityModal()">Ajouter une activité</button>
    </div>
  </div>

<div class="modal fade" id="createActivityModal" tabindex="-1" aria-labelledby="createActivityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createActivityModalLabel">Créer une nouvelle activité</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <h2 class="mlh_verdana text-center mb-4">Description de l'activité</h2>

              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="col-form-label" for="inputActNom">Nom de l'activité:</label>
                      <input [(ngModel)]="activiteData.nom" type="text" class="form-control" id="inputActNom">
                    </div>
                    <div class="col-md-6">
                      <label class="col-form-label" for="inputActType">Type:</label>
                      <input [(ngModel)]="activiteData.type" type="text" class="form-control" id="inputActType">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <label class="col-form-label" for="inputActDesc">Descriptif:</label>
                      <textarea [(ngModel)]="activiteData.description" class="form-control" id="inputActDesc" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="activiteData.public" id="flexCheckPublic">
                    <label class="form-check-label" for="flexCheckPublic">Public</label>
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Généralités</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="col-form-label" for="inputActRef">Référence:</label>
                      <input [(ngModel)]="activiteData.reference" type="text" class="form-control" id="inputActRef">
                    </div>
                    <div class="col-md-6">
                      <label class="col-form-label" for="inputActDomaine">Domaine:</label>
                      <input [(ngModel)]="activiteData.domaine" type="text" class="form-control" id="inputActDomaine">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <label class="col-form-label col-form-label-sm" for="inputOrgLogo">Logo (Facultatif):</label>
                    <div class="col-md-6">
                      <img class="img-thumbnail mb-2" [src]="activiteData.logoUrl" alt="logo" style="width: 100px; height: auto;">
                      <div class="d-flex align-items-center">
                        <input type="file" (change)="uploadLogo($event)" accept="image/*" class="form-control form-control-sm">
                        <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteLogo()">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="col-form-label col-form-label-sm" for="inputActWeb">Site WEB:</label>
                      <input [(ngModel)]="activiteData.url" type="text" class="form-control form-control-sm" id="inputActWeb">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Documents</h3>
                  <div class="accordion mt-3" id="documentsAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingDocuments">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
                          Voir les documents
                        </button>
                      </h2>
                      <div id="collapseDocuments" class="accordion-collapse collapse show" aria-labelledby="headingDocuments" data-bs-parent="#documentsAccordion">
                        <div class="accordion-body">
                          <ul class="list-group" *ngIf="documents.length > 0; else noDocuments">
                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let doc of documents">
                              {{ doc.name }}
                              <button class="btn btn-danger btn-sm ms-2" (click)="removeDocument(doc)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </li>
                          </ul>
                          <ng-template #noDocuments>
                            <p class="text-center">Aucun document</p>
                          </ng-template>
                          <input type="file" (change)="onDocumentSelected($event)" multiple class="form-control mt-4" #fileInput />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
              
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Tags</h3>
                  <div class="d-flex">
                    <input type="text" [(ngModel)]="newTag" class="form-control me-1" placeholder="Ajouter un tag" />
                    <button type="button" class="btn btn-info" (click)="addTag()">Ajouter</button>
                  </div>
                  <div class="mt-3">
                    <span class="badge bg-info me-2" *ngFor="let tag of activiteData.tags; let i = index">
                      {{ tag }}
                      <div class="btn btn-sm btn-outline-light ms-2" (click)="removeTag(i)">
                        <i class="fa fa-trash"></i>
                      </div>
                    </span>
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Localisation</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="col-form-label col-form-label-sm" for="inputActAdresse">Adresse:</label>
                      <input [(ngModel)]="activiteData.adresse" type="text" class="form-control form-control-sm" id="inputActAdresse">
                    </div>
                    <div class="col-md-6">
                      <label class="col-form-label col-form-label-sm" for="inputActCp">Code postale:</label>
                      <input [(ngModel)]="activiteData.cp" type="text" class="form-control form-control-sm" id="inputActCp">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label class="col-form-label col-form-label-sm" for="inputActCommune">Commune:</label>
                      <input [(ngModel)]="activiteData.commune" type="text" class="form-control form-control-sm" id="inputActCommune">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Élément à fournir</h3>
                  <div class="row">
                    <div class="col-12 mb-3">
                      <label class="col-form-label col-form-label-sm" for="inputActItem">Eléments nécessaires pour bénéficier de l'activité:</label>
                      <div class="mb-2">
                        <ul class="list-group">
                          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let prereq of activiteData.prerequis; let i = index">
                            {{ prereq }}
                            <button class="btn btn-danger btn-sm" (click)="removePrereq(i)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <div class="input-group mb-2">
                        <input type="text" [(ngModel)]="newPrereq" class="form-control" placeholder="Ajouter un élément" />
                        <button type="button" class="btn btn-info" (click)="addPrereq()"><strong> + </strong></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Informations complémentaires</h3>
                  <div class="row">
                    <div class="col-12 mb-3">
                      <label class="col-form-label col-form-label-sm" for="inputActInfo">Informations complémentaires:</label>
                      <div class="mb-2">
                        <select [(ngModel)]="activiteData.infos" multiple class="form-select" id="inputActInfo">
                          <option *ngFor="let info of activiteData.infos">{{ info }}</option>
                        </select>
                      </div>
                      <div class="input-group mb-2">
                        <input type="text" [(ngModel)]="newInfo" class="form-control" placeholder="Ajouter une information" />
                        <button type="button" class="btn btn-info" (click)="addInfo()"><strong> + </strong></button>
                        <button type="button" class="btn btn-danger" (click)="removeInfo()"><strong> - </strong></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="mlh_verdana">Rendez-vous initial</h3>
                  <p>Le rendez-vous initial est le passage obligé pour qu'une personne puisse bénéficier des services proposés dans le cadre de cette activité: C'est le responsable de l'activité qui activera l'accès pour l'utilisateur suite au rendez-vous.</p>
                  <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="activiteData.rdv" id="flexCheckCheckedRdv">
                    <label class="form-check-label" for="flexCheckCheckedRdv">Rendez-vous initial</label>
                  </div>
                  <label class="col-form-label col-form-label-sm mt-2" for="inputActRdvBody">Corps du mail pour la demande de rendez-vous:</label>
                  <textarea [(ngModel)]="activiteData.mail_rdv" class="form-control form-control-sm" id="inputActRdvBody" rows="3"></textarea>
                  <label class="col-form-label col-form-label-sm mt-2" for="inputActRdvDuree">Durée du rendez-vous initial (en minutes):</label>
<input [(ngModel)]="activiteData.rdv_duree" type="number" class="form-control form-control-sm" id="inputActRdvDuree" min="30" (change)="checkRdvDuree()">
                </div>
              </div>

              <div class="row">
                <div class="d-flex justify-content-between mt-2 border-top pt-3">
                  <button type="button" class="btn btn-primary p-2" (click)="createActivity()">Créer</button>
                  <button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">Annuler</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="d-flex flex-column">
      <div *ngFor="let activity of userActivities" class="card mb-3" style="width: 100%;" (click)="viewDetails(activity.id)">
        <div class="card-body d-flex">
          <img class="img-thumbnail me-3" [src]="activity.logo" alt="logo" style="max-width: 120px; max-height: 120px;">
          <div class="flex-grow-1">
            <h4 class="card-title">{{ activity.nom }}</h4>
            <p class="card-text">{{ activity.description }}</p>
            <p class="card-text">
              Organisme : 
              <a href="#" (click)="openOrganisationInfo(activity.organisation_id, $event)">
                {{ activity.organisation_nom }}
              </a>
            </p>
            <p>
              <span *ngFor="let tag of activity.tags" class="badge bg-info me-1">{{ tag }}</span>
            </p>
          </div>
          <div>
            <div class="d-flex justify-content-start align-items-center mb-2 btn btn-sm btn-outline-dark" (click)="editActivite(activity.id, $event)">
              <i class="fa fa-pen me-2"></i>
              <strong>modifier</strong>
            </div>
            <div class="d-flex justify-content-start align-items-center btn btn-sm btn-outline-dark" (click)="deleteActivite(activity.id, $event)">
              <i class="fa fa-trash me-2"></i>
              <strong>supprimer</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="!hasPermission" class="container mt-5">
  <h2 class="mlh_verdana">Mes Activités</h2>
  <div class="alert alert-warning mt-3">
    Votre compte n'est actuellement pas autorisé à déclarer de nouvelles activités sur la plateforme !
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary" (click)="openModal()">Demande d'activation de la déclaration d'activités</button>
  </div>
</div>

<!-- Modal Demande d'activation -->
<div class="modal fade" id="DlgDemandeService" tabindex="-1" role="dialog" aria-labelledby="DlgDemandeServiceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DlgDemandeServiceLabel">Demande d'activation de la déclaration d'activités</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="inputDlgDemandeServiceNom" class="form-label">Nom de l'organisation :</label>
          <input type="text" class="form-control" id="inputDlgDemandeServiceNom">
        </div>
        <div class="mb-3">
          <label for="inputDlgDemandeServicenActivite" class="form-label">Domaine d'activité :</label>
          <input type="text" class="form-control" id="inputDlgDemandeServicenActivite">
        </div>
        <div class="mb-3">
          <label for="inputDlgDemandeServiceEmail" class="form-label">Email :</label>
          <input type="email" class="form-control" id="inputDlgDemandeServiceEmail">
        </div>
        <div class="mb-3">
          <label for="inputDlgDemandeServiceDesc" class="form-label">Description (facultatif) :</label>
          <textarea class="form-control" id="inputDlgDemandeServiceDesc" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="saveModal()">Envoyer la demande</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation de suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette activité ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="confirmDelete()">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div *ngIf="showConfirmationToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Confirmation</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeConfirmationToast()"></button>
    </div>
    <div class="toast-body">Un mail de confirmation vous a été envoyé.</div>
  </div>
</div>

<app-toast #toastComponent></app-toast>

<!-- Offcanvas pour les informations de l'organisation -->
<div class="offcanvas offcanvas-start custom-offcanvas-width" tabindex="-1" id="offcanvasOrganisation" aria-labelledby="offcanvasOrganisationLabel">
  <div class="offcanvas-header bg-light">
    <h5 class="offcanvas-title text-center w-100" id="offcanvasOrganisationLabel">Informations de l'Organisation</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="organisation">
      <div class="text-center mb-4">
        <img [src]="organisation.logoUrl" class="img-fluid rounded-circle border" alt="logo" style="max-width: 130px;">
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Nom</h6>
            <p class="mb-0">{{ organisation.nom }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Activité</h6>
            <p class="mb-0">{{ organisation.activite }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Email</h6>
            <p class="mb-0">{{ organisation.email }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Site WEB</h6>
            <p class="mb-0"><a [href]="organisation.web" target="_blank">{{ organisation.web }}</a></p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Siret</h6>
            <p class="mb-0">{{ organisation.siret }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Descriptif</h6>
            <p class="mb-0">{{ organisation.descriptif }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Adresse</h6>
            <p class="mb-0">{{ organisation.adresse }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Code postal</h6>
            <p class="mb-0">{{ organisation.cp }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Téléphone</h6>
            <p class="mb-0">{{ organisation.tel }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Commune</h6>
            <p class="mb-0">{{ organisation.commune }}</p>
          </div>
          <div class="p-3 border bg-light rounded text-center">
            <h6 class="fw-bold mb-2">Commentaire</h6>
            <p class="mb-0">{{ organisation.commentaire }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!organisation" class="d-flex justify-content-center align-items-center" style="height: 100%;">
      <p>Chargement des informations...</p>
    </div>
  </div>
</div>