footer.bg-primary {
    font-size: 1rem; 
}

footer.bg-primary h5 {
    font-size: 2.25rem; 
}

footer.bg-primary p {
    margin-bottom: 0.5rem; 
}

footer.bg-primary ul {
    padding-left: 0;
    list-style: none; 
}

footer.bg-primary ul li {
    margin-bottom: 0.25rem; 
}
