.logo-container .logo {
    max-width: 200px;
  }
  
  .coords-container h3 {
    margin-bottom: 0.5rem;
  }
  
  .coords-container p {
    margin-bottom: 0.5rem;
  }
  
  .text-light a {
    text-decoration: none;
  }
  
  .text-light a:hover {
    text-decoration: underline;
  }
  