<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h3 class="mlh_verdana">Filtre</h3>
        <input type="text" class="form-control form-control-sm mb-3" id="inputFiltreNom" placeholder="Rechercher une activité">
      </div>
    </div>
    

    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap">
          <div class="card border-info mb-3" style="flex: 1 1 calc(33.333% - 1rem); margin: 0.5rem;" (click)="viewDetails()">
            <div class="card-body d-flex">
              <img class="img-thumbnail me-3" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" style="width: 100px; height: auto;">
              <div class="flex-grow-1">
                <h4 class="card-title">Location de machines à coudre</h4>
                <p class="card-text">La Petite Manchester propose la location pour un usage sur place de machines à coudre professionnelles.</p>
                <p class="card-text">organisme : <a href="#">La Petite Manchester</a></p>
                <p>
                  <span class="badge bg-info">Couture</span>
                  <span class="badge bg-info">Machine</span>
                  <span class="badge bg-info">Petite Manchester</span>
                  <span class="badge bg-info">Box Briand</span>
                  <span class="badge bg-info">Location</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>