.card {
    transition: transform 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
}
.logo-container {
    margin: 0;
    z-index: 1;
}

.logo-container .logo {
    text-decoration: none;
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.5));
}

.logo-container .logo img {
    height: 50px; 
    margin: 5px;
    left: 0;
}

.mlh_top_container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.mlh_connect {
    right: 0;
}

.mlh_header {
    width: 100%;
}

.mlh_title {
    font-size: 2rem; 
}

.mlh_menu {
    width: 100%;
}

.mlh_verdana {
    font-family: "Verdana";
}

.mlh_card {
    margin: 5px;
}

.mlh_block_data {
    padding-bottom: 8px; 
}

.mlh_org_logo {
    max-height: 120px; 
    width: auto;
}

.mlh_accueil_logo {
    max-height: 30px; 
    width: auto;
}

.mlh_card_logo {
    max-height: auto;
    width: auto;
}

.mlh_tags {
    padding: 2px;
    position: relative;
    height: 12px;
    width: 12px;
    right: -4px;
}

.mlh_bt_tag {
    top: -7px;
    position: relative;
}


.mlh_card_action {
    font-size: smaller;
}

.mlh_bt_tags_plus {
    height: 12px; 
    margin-top: -10px; 
}

.mlh_serv_tilte {
    font-size: 1.5rem; 
    font-weight: 500;
}

.mlh_panneau_info {
    width: 40% !important; 
}

.mlh_accueil_filtre {
    font-size: 1.2rem; 
}

body {
    background-color: #f5f5f5;
}

#AccueilFiltre {
    background-color: white;
    border-radius: 40px;
    margin: 40px auto; 
    box-shadow: 3px 3px 10px -3px grey;
    overflow: hidden;
}

#AccueilFiltre input {
    all: unset;
    flex-grow: 1;
    padding: 8px 16px; 
}

#AccueilFiltre button {
    border: none;
    margin: 4px; 
    padding: 4px; 
    border-radius: 30px; 
    background-color: var(--bs-primary);
    width: 30px; 
    cursor: pointer;
}

#AccueilFiltre button:hover {
    background-color: var(--bs-link-hover-color);
}

#AccueilFiltre img {
    max-width: 25px; 
}

.filter-column {
    flex: 0 0 25%; 
    max-width: 25%; 
  }
  
  .activity-column {
    flex: 0 0 75%; 
    max-width: 75%; 
  }