<div class="modal" id="DlgMajPWD" style="top:100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modification du mot de passe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="col-form-label" for="inputPWD1"> Mot de passe actuel: </label>
                    <div class="d-flex justify-content-between align-items-center">
                        <input [type]="currentPasswordFieldType" class="form-control" id="inputPWD1" placeholder="*****" autocomplete="off">
                        <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('current')">
                            <i class="fa" [ngClass]="currentPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputPWD2"> Nouveau mot de passe: </label>
                    <div class="has-success">
                        <div class="d-flex justify-content-between align-items-center">
                            <input [type]="newPasswordFieldType" class="form-control is-valid" id="inputPWD2" placeholder="*****" autocomplete="off">
                            <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('new')">
                                <i class="fa" [ngClass]="newPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </button>
                        </div>
                        <div class="valid-feedback d-block">Les mots de passe correspondent !</div>
                    </div>
                </div>
                <div>
                    <label class="col-form-label" for="inputPWD3"> Confirmation mot de passe: </label>
                    <div class="d-flex justify-content-between align-items-center">
                        <input [type]="confirmPasswordFieldType" class="form-control" id="inputPWD3" placeholder="*****" autocomplete="off">
                        <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('confirm')">
                            <i class="fa" [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btDlgMajPWDOk" (click)="savePassword()">Enregistrer</button>
                <button type="button" class="btn btn-secondary" id="btDlgMajPWDCancel" data-bs-dismiss="modal" (click)="closePasswordModal()">Fermer</button>
            </div>
        </div>
    </div>
</div>


<div class="col-12 mt-2">
    <h2 class="mlh_verdana">Mes Informations Personnelles</h2>
    <div class="row border-bottom mlh_block_data">
        <div class="col-6">
            <label class="col-form-label uniform-text" for="inputDlgUserInfoNom"> Nom : </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoNom">
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoPseudo"> Pseudo (facultatif) : </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoPseudo">
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoEmail"> Email : </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoEmail">
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoStatut"> Statut : </label>
            <select class="form-select uniform-input" id="inputDlgUserInfoStatut">
                <option value="Particulier" selected>Particulier</option>
                <option value="Etudiant">Etudiant</option>
                <option value="Association">Association</option>
                <option value="Entreprise">Entreprise</option>
                <option value="Auto-Entrepreneur">Auto-Entrepreneur</option>
            </select>
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoAss"> Entreprise / Organisme / Association : </label>
            <input type="text" class="form-control uniform-input" placeholder="Zone à afficher en fonction du statut" id="inputDlgUserInfoAss">
        </div>
        <div class="col-6 ">
            <label class="col-form-label uniform-text" for="inputDlgUserInfoTel"> Téléphone (facultatif) : </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoTel">
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoAdresse"> Adresse (facultatif) : </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoAdresse">
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoCp"> Code postal (facultatif): </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoCp">
            
            <label class="col-form-label uniform-text" for="inputDlgUserInfoCommune"> Commune (facultatif): </label>
            <input type="text" class="form-control uniform-input" id="inputDlgUserInfoCommune">
        </div>
    </div>
    <div class="d-flex bd-highlight mt-4 border-bottom mlh_block_data">
        <button type="button" class="btn btn-secondary me-auto p-2" id="btUserInfoPwd" (click)="changePassword()">Changer de mot de passe</button>
        <button type="button" class="btn btn-primary p-2" id="btUserInfoOk" (click)="saveUserInfo()">Enregistrer</button>
    </div>
</div>
