#external-events {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f4f4f4;
  width: auto;
  height: auto;
  max-height: 500px;
  overflow-y: auto;
}

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

#calendar {
  margin-top: 20px;
}

.fc-event {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  background-color: #3a87ad;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}

.delete-event-btn {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}