<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center mt-4">
        <img class="img-thumbnail" src="https://images.squarespace-cdn.com/content/v1/632ad891c684536fe763ae26/8fae08f3-076c-4189-a1a7-3cddae36e259/logotype.png?format=1500w" alt="logo" style="width: 150px; height: auto;">
        <h2 class="mlh_verdana m-3">
          Location de machines à coudre professionnelles : <br> Box Briand
        </h2>
        <button type="button" class="btn btn-outline-info">Site Web</button>
      </div>
      <div class="row mt-4">
        <div class="col-12 mlh_block_data">
          Créer des passerelles entre le monde de l’Industrie et celui de l’Education par le biais du textile, telle est la raison d’être de La Petite Manchester. Un projet mis sur les rails en 2015 et porté depuis par Nathalie Methia. Un projet engagé et humain qui attaque l’ultime étape de son développement.
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 mlh_block_data border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#Generalite" aria-selected="true" role="tab">Généralités</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#InfoGen" aria-selected="false" role="tab">Informations requises</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#services" aria-selected="false" role="tab">Services associés</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#planning" aria-selected="false" role="tab">Définition des créneaux pour les rendez-vous initiaux</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content mt-3">
            <div class="tab-pane fade show active" id="Generalite" role="tabpanel">
              <p class="card-text">
                organisme : <a href="#"> La Petite Manchester </a>
              </p>
              <label class="col-form-label">Référence :</label>
              <strong>REFX2154876</strong> <br>
              <label class="col-form-label">Quelques documents :</label>
              <select multiple class="form-select" id="inputActDoc">
                <option>Flyer</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <label class="col-form-label">Adresse :</label>
              <strong>33 avenue de Colmar 68100 Mulhouse</strong>
            </div>
            <div class="tab-pane fade mt-2" id="InfoGen" role="tabpanel">
              <p>Cette activité nécessitera un rendez-vous initial pour pouvoir accéder aux différents services proposés.</p>
              <label class="col-form-label">Informations complémentaires demandées :</label>
              <select multiple class="form-select" id="inputActInfo">
                <option>Ages</option>
                <option></option>
                <option></option>
                <option>4</option>
                <option>5</option>
              </select>
              <label class="col-form-label mt-2">Éléments à fournir :</label>
              <select multiple class="form-select" id="inputActItem">
                <option>Carte d'identité</option>
                <option>Diplôme de ...</option>
                <option>Certification ...</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="tab-pane fade mt-2" id="planning" role="tabpanel">
              <div class="row">
                <div class="col-md-3">
                  <div id="external-events" class="bg-light p-2">
                    <h4>Draggable Events</h4>
                    <div id="external-events-list">
                      <div class="fc-event" title="My Event 1">My Event 1</div>
                      <div class="fc-event" title="My Event 2">My Event 2</div>
                      <div class="fc-event" title="My Event 3">My Event 3</div>
                      <div class="fc-event" title="My Event 4">My Event 4</div>
                      <div class="fc-event" title="My Event 5">My Event 5</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <h3 class="mlh_verdana text-center mb-2"><u>Planning</u></h3>
                  <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Informations rendez-vous</h4>
      <p>La durée d'un rendez-vous est définie dans l'activité à <strong>60</strong> minutes. Les plages de rendez-vous seront divisées automatiquement en fonction de cette durée. Les reliquats ne seront pas utilisés.</p>
      <div class="row mt-2 border-bottom mlh_block_data">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-secondary me-2" id="btActModif">Modifier l'activité</button>
          <button type="button" class="btn btn-primary" id="btActBack" (click)="back()">Retour</button>
        </div>
      </div>
    </div>
  </div>
</div>
