#calendar {
  max-width: 1100px;
  margin: 0 auto;
  z-index: 1;
  opacity: 1;
  height: auto;
  overflow: visible;
}

#external-events {
  padding: 10px;
  width: 150px;
  z-index: 1;
  opacity: 1;
  height: auto;
  overflow: visible;
}

.fc-event {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  background-color: #3a87ad;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}

.delete-event-btn {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
