#external-events {
  padding: 10px;
  background: #eee;
  border: 1px solid #ddd;
  text-align: left;
}

#external-events .fc-event {
  margin: 10px 0;
  padding: 4px 8px;
  background: #3174ad;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

#calendar-container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 500px; /* Assurez-vous d'avoir une hauteur minimale */
}

.full-calendar {
  max-width: 100%;
  margin: 0 auto;
}

.delete-event-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 5px;
}
